[MASTER]
disable=
    W0611, # unused-import
    C0301, # line-too-long
    C0411, # wrong-import-order
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring

[REPORTS]
evaluation=max(0, 0 if fatal else 10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10))
output-format=text
reports=no
score=yes
